table {
  width: 80px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgb(68, 143, 255);
  color: #fff;
}

th {
  text-align: left;
  background-color: rgb(75, 117, 255);
}

thead {
  th {
    background-color: #55608f;
  }
}
